gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# Project upload keystore is committed for reproducible RG release builds.
**/*.keystore
**/*.jks
!titodex-upload.keystore
!key.properties
